<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <link href="/thinkBlog/public/css/bootstrap.css" rel="stylesheet">
    <link href="/thinkBlog/public/css/b-style.css" rel="stylesheet">
    <link href="/thinkBlog/public/fontAwe/css/font-awesome.min.css" rel="stylesheet">
    <link href="/thinkBlog/public/layui/css/layui.css" rel="stylesheet">

</head>
<body>
<include file="public/header.php" />

<div class="container">
    <ul class="breadcrumb">
        <li><a href="#">后台管理</a></li>
        <li><a href="#">类别管理</a></li>
        <li class="active">文章列表</li>
    </ul>
    <div class="nav_myself">
        <include file="public/nav_list.html" />
    </div>


    <div class="form_table">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    操作
                </h3>
            </div>
            <div class="panel-body">
                <a href="/thinkBlog/addText" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    新增
                </a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    数据列表
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>文章名称</th>
                        <th>缩略图</th>
                        <th>关键词</th>
                        <th>所属分类</th>
                        <th>文章描述</th>
                        <th width="120px;" class="text-center">操作</th>
                    </tr>
                    <tbody>
                        <volist name="list" id="list">
                            <tr>
                                <td>{$list.news_name}</td>
                                <td><img src="{$list.news_url==''?'/rjkf/public/img/default.png':$list.news_url}" width="120" height="60" ></td>
                                <td>{$list.news_keywords}</td>
                                <td>{$list.type_name}</td>
                                <td>{$list.news_desc}</td>
                                <td class="text-center">
                                    <a href="/thinkBlog/editText?id={$list.news_id}" class="btn btn-warning btn-xs">修改</a>
                                    <a href="/thinkBlog/delText?id={$list.news_id}" class="btn btn-danger btn-xs">删除</a>
                                </td>
                            </tr>
                        </volist>
                    </tbody>
                    </thead>
                </table>
                <div class="text-center">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/rjkf/public/js/jquery.js"></script>

<script>
    $(".list-group-item").removeClass("active");
    $("#adminText").addClass("active")
</script>

</body>
</html>