<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>类别列表</title>
    <link href="/rjkf/public/css/bootstrap.css" rel="stylesheet">
    <link href="/rjkf/public/css/style.css" rel="stylesheet">
    <link href="/rjkf/public/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<header class="header_color">
    <div class="container">


    </div>
</header>
<div class="container">
    <ul class="breadcrumb">
        <li><a href="#">后台管理</a></li>
        <li><a href="#">类别管理</a></li>
        <li class="active">类别列表</li>
    </ul>
    <div class="nav_myself">
        <include file="public/nav_list.html" />
    </div>


    <div class="form_table">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    操作
                </h3>
            </div>
            <div class="panel-body">
                <a href="/rjkf/addType" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    新增
                </a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    数据列表
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>类别名称</th>
                        <th>所属栏目</th>
                        <th>排序序号</th>
                        <th>类别描述</th>
                        <th class="text-center">操作</th>
                    </tr>
                    <tbody>
                        <volist name="list" id="list">
                            <tr>
                                <td>{$list.type_name}</td>
                                <td>{$list.type_order==1?"web技术":"随写"}</td>
                                <td>{$list.type_sort}</td>
                                <td>{$list.type_desc}</td>
                                <td class="text-center">
                                    <a href="/rjkf/editType?id={$list.type_id}" class="btn btn-warning btn-xs">修改</a>
                                    <a href="/rjkf/delType?id={$list.type_id}" class="btn btn-danger btn-xs">删除</a>
                                </td>
                            </tr>
                        </volist>
                    </tbody>
                    </thead>
                </table>
                <div class="page text-right">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</div>


</body>
</html>