<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$editData.about_name}</title>
    <meta name="keywords" content="{$editData.about_name}" />
    <meta name="description" content="{$editData.about_words}" />
    <link href="/thinkBlog/public/css/bootstrap.css" rel="stylesheet">
    <link href="/thinkBlog/public/css/style.css" rel="stylesheet">
    <link href="/thinkBlog/public/fontAwe/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>
<include file="public/header.html" />

<section class="container">
    <h1 class="text-center" style="line-height: 40px; font-size: 18px; font-weight: 600;">{$editData.about_name}</h1>
    <div>
        {$editData.about_content}
    </div>
</section>

<script src="/thinkBlog/public/js/jquery.js"></script>
<script src="/thinkBlog/public/js/bootstrap.min.js"></script>
<script>
    $("#about").addClass("active");
</script>
</body>
</html>
