<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$editInfo.news_name}</title>
    <link href="/thinkBlog/public/css/bootstrap.css" rel="stylesheet">
    <link href="/thinkBlog/public/css/style.css" rel="stylesheet">
    <link href="/thinkBlog/public/fontAwe/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<include file="public/header.html" />
<input value="{$flag}" id="flag" type="hidden">

<div class="container">
    <h1 class="detail_tit text-center">
        {$editInfo.news_name}
    </h1>
    <div class="content">
        {$editInfo.news_content}
    </div>
    <p class="time"><span>{$editInfo.news_create}</span></p>
</div>
<script src="/thinkBlog/public/js/jquery.js"></script>

<script>


    if ($("#flag").val()==1){
        $(".nav_list li").removeClass("active");
        $("#web").addClass("active");
    }else{
        $(".nav_list li").removeClass("active");
        $("#random").addClass("active");
    }
</script>

</body>
</html>