<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>代汝斌|软件开发</title>
    <link href="/thinkBlog/public/css/bootstrap.css" rel="stylesheet">
    <link href="/thinkBlog/public/css/style.css" rel="stylesheet">
    <link href="/thinkBlog/public/fontAwe/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body style="background: #f1f1f1;">
<include file="public/header.html" />
<input value="{$flag}" id="flag" type="hidden">
<div class="container">
    <div class="types">
        <label>分类：</label>
        <a href="{$flag==1?'/thinkBlog/web':'/thinkBlog/random'}" class="{$types==''?'active':''}"  >全部</a>
        <volist id="type" name="type">
            <if condition="($flag == 1)  ">
                <a class="{$types==$type.type_id?'active':''}" href="/thinkBlog/web/type/{$type.type_id}">{$type.type_name}</a>
                <else />
                <a class="{$types==$type.type_id?'active':''}" href="/thinkBlog/random/type/{$type.type_id}">{$type.type_name}</a>

            </if>
        </volist>
    </div>

</div>
<div class="container">
    <volist id="info" name="info">
        <div class="col-lg-4 col-md-6 col-sm-12 news_item">
            <div class="news_inner">
                <div class="pic">
                    <img src="{$info.news_url==''?'/thinkBlog/public/img/default.png':$info.news_url}"  >
                </div>
                <a class="text_tit text_overflow" href="{$flag==1?'/thinkBlog/web':'/thinkBlog/random'}/{$info.news_id}"> {$info.news_name} </a>
                <div class=" text_3">{$info.news_name}</div>
                <div class="text-right text_time">{$info.news_create}</div>
            </div>
        </div>

    </volist>
</div>
<div class="text-center">
    {$page}
</div>
<script src="/thinkBlog/public/js/jquery.js"></script>
<script>

    $(".pic").height($(".pic").width()*0.6)
    if ($("#flag").val()==1){
        $("title").text("web技术")

        $("#web").addClass("active");
    }else{
        $("title").text("随写");
        $("#random").addClass("active");
    }
</script>
</body>
</html>