<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <link href="/thinkBlog/public/css/bootstrap.css" rel="stylesheet">
    <link href="/thinkBlog/public/css/b-style.css" rel="stylesheet">
    <link href="/thinkBlog/public/fontAwe/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<include file="public/header.php" />

<div class="container">
    <ul class="breadcrumb">
        <li><a href="#">后台管理</a></li>
        <li><a href="#">类别管理</a></li>
        <li class="active">文章列表</li>
    </ul>
    <div class="nav_myself">
        <include file="public/nav_list.html" />
    </div>


    <div class="form_table">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    数据列表
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>关键词</th>
                        <th>内容</th>

                        <th width="120px;" class="text-center">操作</th>
                    </tr>
                    <tbody>
                        <volist name="list" id="list">
                            <tr>
                                <td>{$list.about_name}</td>
                                <td>{$list.about_words}</td>
                                <td>{$list.about_content}</td>
                                <td class="text-center">
                                    <a href="/thinkBlog/aboutAdd" class="btn btn-warning btn-xs">修改</a>
                                </td>
                            </tr>
                        </volist>
                    </tbody>
                    </thead>
                </table>


            </div>
        </div>
    </div>
</div>
<script src="/rjkf/public/js/jquery.js"></script>
<script>
    $(".list-group-item").removeClass("active");
    $("#about").addClass("active")
</script>


</body>
</html>